*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    display: none;}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background: url(fundo-branco-preto13.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url(60-609332_download-iphone-xs-transparent-background-hd-png-download-removebg-preview.png) no-repeat fixed;
    background-attachment: fixed;
    height: 690px;
    width: 347px;
}
#tela{
    position: relative;
    top: 35px;
    left: 28px;
    width: 293px;
    height: 635px;
    background-size: cover; 
    border-radius: 27px;
}
li{
    list-style: none;
}
#apps{
    position: absolute;
    right: 0px;
    margin-top: 65px;

}
#sub{
    border-radius: 10px;
}
#apps img{
    margin: 5px;
    width: 50px;
    border-radius: 10px;
}
@media (max-width: 470px){
    #telefone {
        background-size: 300px;
    }
    #tela{
        top: 29.4px;
        left: 24px;
        width: 255px;
        height: 545px;
    }
    #apps{
        margin-top: 70px;
    }
    #apps img{
        width: 40px;
    }
}
@media (max-width: 350px){
 
    ::-webkit-scrollbar{
        display: none;}
    #telefone {
        background-size: 330px;
        top: 40%;
        left: 53%;
    }
    #tela{
        top: 33px;
        left: 26px;
        width: 280px;
        height: 600px;
        border-radius: 26px;
    }
#apps{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    bottom: 40px;
    left: 15px;
}
li{
    display: inline;  
    line-height: 70px;
}
li img{
}
#apps img{
    width: 45px;
}
}
@media (max-width: 320px){
    
#telefone {
    background-size: 270px;
    top: 33%;
    margin-left: 30px;
}
#tela{
    top: 25.5px;
    left: 24.7px;
    width: 225px;
    height: 493px;
    border-radius: 22px;
}
 
 #apps{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    bottom: 40px;
    max-width: 100%;
}
#apps img{
    width: 59px;
}
li{
    
}
}